.container {
  height: 60px;
  display: flex;
  padding: 10px 0;
}

select {
  background: #f3f3f3;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: 1px solid #cdcdcd;
  text-align: center;
}

input {
  border: none;
}