.container {
  background-color: #f5f8fa;
  min-height: 100vh;
}

.left {
  /* width: 50%; */
  min-width: 22rem;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  display: none;
}

.logoContainer {
  display: flex;
  align-self: flex-start;
}

.logoContainer img {
  width: 20px;
  height: 20px;
}

.logoContainer .appName {
  margin-left: 0.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 20px;
}

.logoContainer .appName span:first-of-type {
  font-weight: 500;
  font-style: italic;
}

.logoContainer .appName span:last-of-type {
  text-transform: uppercase;
  margin-left: 0.2rem;
}

.formContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer .formTitle {
  margin: 5rem 0;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  font-family: 'Source Serif Pro', sans-serif;
  line-height: 1rem;
}

.formContainer .seperator {
  width: 100%;
  padding-top: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.formContainer .socialButtons {
  margin-top: 3rem;
}

@media screen and (min-width: 280px) {
  .left {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 17rem;
  }

  .formContainer {
    width: 16rem;
  }
}

@media (min-width: 500px) {
  .container {
    display: flex;
  }

  .left {
    width: 50%;
  }

  .right {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    width: 50%;
    /* background: linear-gradient(
        to left,
        rgba(245, 248, 250, 0) 95%,
        rgba(245, 248, 250, 1)
      ),
      url('../../assets/images/connect-graphic.jpg') no-repeat center/cover; */
    background: url('../../assets/images/connect-graphic.jpg') no-repeat center/cover;
    display: block;
  }

  .formContainer .formTitle {
    font-size: 3.5rem;
  }
}

@media (min-width: 970px) {
  .formContainer {
    width: 25rem;
  }
}