@font-face {
  font-family: 'RobotoMono';
  src: url('./assets/fonts/RobotoMono-Italic-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'RobotoMono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f8f8;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'RobotoMono';
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'RobotoMono';
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'RobotoMono';
}

:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'RobotoMono';
}