@font-face {
  font-family: Amazon Ember;
  src: url('./assets/fonts/Amazon_Ember.ttf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Amazon Ember", Arial, sans-serif;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}